{% extends "base.html" %}
{% load static %}
{% block head_content %}
    <title>Detalles</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/libros.css' %}">
{% endblock %}

{% block content %}
    <div class = "contenedor-main">
        <h2>Product</h2>
        <div class = "producto">
            <div class="item">
                <img src="{{ libro.portada.url }}" alt="">
                <div class="informacion-Libro">
                        <h2 class="titulo">El libro del hacker</h2>
                        <a href="#" class="autor">Yo no se quien</a>
                        <div class="costo">
                            <div class="especificacion">
                                <p class="vUnitario">Valor Unitario</p>
                                <p class="precio-producto">$40.000</p>
                            </div>
                        </div>
                        <div class="btn">
                            <a href="#" class="btnEliminarLib">
                                Anadir
                                <a herf="#" class="btnAD"><i class="fas fa-plus"></i></a>
                            </a>
                        </div>
                    </div>
            </div>
            <div class = "caracteristicas">
                <h2>Caracteristicas</h2>
            </div>
            <div class="sinopsis">
                <h2>Sinopsis</h2>
                <textarea name="" id="" cols="30" rows="10">{{ libro.sinopsis }}</textarea> 
            </div>
        </div>
        <div class="comentarios">
            <h2>Comentarios</h2>
        </div>
        <div class="recomendados">
            <h2>Recomendados</h2>
        </div>
        
    </div>
        
{% endblock %}
