{% extends "base.html" %}
{% load static %}
{% block head_content %}
    <title>Detalles</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/libros.css' %}">
{% endblock %}

{% block content %}
    <div class="wrapper">
        <div class="product-img">
        <img src="/media/{{ libro.portada }}" id="portada">
        </div>
        <div class="product-info">
            <div class="product-text">
                <h1>{{ libro.titulo }}</h1>
                {% if libro.autor_set %}
                    <a href="#">{{ libro.autor_set.first.nombre }}</a>
                {% else %}
                    <a href="#">Anonimo</a>
                {% endif %}
                
                <h3>Puntuacion general: {{libro.puntuacion}}</h3>
                {% if libro.puntuacion == 0.0%}
                <form>
                    <p class="clasificacion">
                        <input id="radio1" type="radio" name="estrellas" value="5" disabled><!--
                        --><label for="radio1">★</label><!--
                        --><input id="radio2" type="radio" name="estrellas" value="4" disabled><!--
                        --><label for="radio2">★</label><!--
                        --><input id="radio3" type="radio" name="estrellas" value="3" disabled><!--
                        --><label for="radio3">★</label><!--
                        --><input id="radio4" type="radio" name="estrellas" value="2" disabled><!--
                        --><label for="radio4">★</label><!--
                        --><input id="radio5" type="radio" name="estrellas" value="1" disabled><!--
                        --><label for="radio5">★</label>
                    </p>
                </form>
                {%endif%}
                {% if libro.puntuacion == 1.0%}
                <form>
                    <p class="clasificacion">
                        <input id="radio1" type="radio" name="estrellas" value="5" disabled><!--
                        --><label for="radio1">★</label><!--
                        --><input id="radio2" type="radio" name="estrellas" value="4" disabled><!--
                        --><label for="radio2">★</label><!--
                        --><input id="radio3" type="radio" name="estrellas" value="3" disabled><!--
                        --><label for="radio3">★</label><!--
                        --><input id="radio4" type="radio" name="estrellas" value="2" disabled><!--
                        --><label for="radio4">★</label><!--
                        --><input id="radio5" type="radio" name="estrellas" value="1"  checked disabled><!--
                        --><label for="radio5">★</label>
                    </p>
                </form>
                {%endif%}
                {% if libro.puntuacion == 2.0%}
                <form>
                    <p class="clasificacion">
                        <input id="radio1" type="radio" name="estrellas" value="5" disabled><!--
                        --><label for="radio1">★</label><!--
                        --><input id="radio2" type="radio" name="estrellas" value="4" disabled><!--
                        --><label for="radio2">★</label><!--
                        --><input id="radio3" type="radio" name="estrellas" value="3" disabled><!--
                        --><label for="radio3">★</label><!--
                        --><input id="radio4" type="radio" name="estrellas" value="2" checked disabled><!--
                        --><label for="radio4">★</label><!--
                        --><input id="radio5" type="radio" name="estrellas" value="1" disabled><!--
                        --><label for="radio5">★</label>
                    </p>
                </form>
                {%endif%}
                {% if libro.puntuacion == 3.0%}
                <form>
                    <p class="clasificacion">
                        <input id="radio1" type="radio" name="estrellas" value="5" disabled><!--
                        --><label for="radio1">★</label><!--
                        --><input id="radio2" type="radio" name="estrellas" value="4" disabled><!--
                        --><label for="radio2">★</label><!--
                        --><input id="radio3" type="radio" name="estrellas" value="3" checked disabled><!--
                        --><label for="radio3">★</label><!--
                        --><input id="radio4" type="radio" name="estrellas" value="2" disabled><!--
                        --><label for="radio4">★</label><!--
                        --><input id="radio5" type="radio" name="estrellas" value="1" disabled><!--
                        --><label for="radio5">★</label>
                    </p>
                </form>
                {%endif%}
                {% if libro.puntuacion == 4.0%}
                <form>
                    <p class="clasificacion">
                        <input id="radio1" type="radio" name="estrellas" value="5" disabled><!--
                        --><label for="radio1">★</label><!--
                        --><input id="radio2" type="radio" name="estrellas" value="4" checked disabled><!--
                        --><label for="radio2">★</label><!--
                        --><input id="radio3" type="radio" name="estrellas" value="3" disabled><!--
                        --><label for="radio3">★</label><!--
                        --><input id="radio4" type="radio" name="estrellas" value="2" disabled><!--
                        --><label for="radio4">★</label><!--
                        --><input id="radio5" type="radio" name="estrellas" value="1" disabled><!--
                        --><label for="radio5">★</label>
                    </p>
                </form>
                {%endif%}
                {% if libro.puntuacion == 5.0%}
                <form>
                    <p class="clasificacion">
                        <input id="radio1" type="radio" name="estrellas" value="5" checked disabled><!--
                        --><label for="radio1">★</label><!--
                        --><input id="radio2" type="radio" name="estrellas" value="4" disabled><!--
                        --><label for="radio2">★</label><!--
                        --><input id="radio3" type="radio" name="estrellas" value="3" disabled><!--
                        --><label for="radio3">★</label><!--
                        --><input id="radio4" type="radio" name="estrellas" value="2" disabled><!--
                        --><label for="radio4">★</label><!--
                        --><input id="radio5" type="radio" name="estrellas" value="1" disabled><!--
                        --><label for="radio5">★</label>
                    </p>
                </form>
                {%endif%}
                <p class="valor">Valor Unitario<span class="precio">{{ libro.precio }} COP</span></p>
            </div>
            <div class="product-price-btn">
                <button type="button">Añadir al carrito</button>
            </div>
        </div>
    </div>
    <br> </br>
    <div class="recomendado">
        <div class = "caracteristicas-main">
            <h2>Caracteristicas</h2>
            <div class="caracteristicas">
                <p>Editorial: {{libro.editorial}}</p>
                <!-- <p>Edicion: libro.edicion </p> -->
                <p>Nro. paginas: {{libro.noPaginas}}</p>
                <p>Presentacion: {{libro.presentacion}}</p>
            
            </div>
        </div> 
        <p clas="sinopsis">Sinopsis</p>
        <p clas="sinopsis">{{ libro.sinopsis }}</p>
        <p> A continuacion te recomendamos libros de la misma editorial {{libro.editorial}}</p>
        <div class ="contenedor-carrousel">
        <div class ="cards">
            {% for resultado in recomendados %}
                <div class="card">
                    <div class="card-overlay">
                        <div class="linksBTN">
                            <div class="heading"><a class="button" href="{% url 'libros:detalles' titulo=resultado.url_libro%}">Ver detalles</a></div>
                            <div class="heading"><a class="button" href="{% url 'compras:carrito' %}">Agregar al carrito</a></div>
                        </div>
                    </div>
                    <div class="card_content">
                        <div class="card_title">{{ resultado.titulo }}</div>
                        <div class="card_autores">{{resultado.editorial}}</div>
                        <div class="card_precio"> {{resultado.precio}} COP</div>
                    </div>
                    <img class="card-poster" alt="" src="{{ resultado.portada.url }}">
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="comentarios">
        <h1>Comentarios</h1>
       <form action="{%url 'libros:detalles' titulo=libro.url_libro%}" method='POST'>
       {%csrf_token %}
            <!-- comments container -->
	    	<div class="comment_block">
		        <!-- used by #{user} to create a new comment -->
		        <div class="create_new_comment">
			        <!-- current #{user} avatar -->
		 	        <div class="user_avatar">
		 		        <img src="{%static 'img/perfil.png'%}" class="img_comment">
		 	        </div><!-- the input field --><div class="input_comment">
		 		    <input type="text" placeholder="Join the conversation.." class="input_comment" name="newcoment">
                     <form>
                        <p class="clasificacion">
                            <input id="radio11" type="radio" name="estrellas5" value="5"  ><!--
                            --><label for="radio11">★</label><!--
                            --><input id="radio21" type="radio" name="estrellas4" value="4" ><!--
                            --><label for="radio21">★</label><!--
                            --><input id="radio31" type="radio" name="estrellas3" value="3" ><!--
                            --><label for="radio31">★</label><!--
                            --><input id="radio41" type="radio" name="estrellas2" value="2" ><!--
                            --><label for="radio41">★</label><!--
                            --><input id="radio51" type="radio" name="estrellas1" value="1" ><!--
                            --><label for="radio51">★</label>
                        </p>
                    </form>
		 	</div>

		 </div>
       </form>

        {%for comentarios in comentarios %}
		 <!-- new comment -->
		<div class="new_comment">

			<!-- build comment -->
		 	<ul class="user_comment">

		 		<!-- current #{user} avatar -->
			 	<div class="user_avatar">
			 		<img src="{%static 'img/perfil.png'%}" class="img_comment">
			 	</div><!-- the comment body --><div class="comment_body">
			 		<p>{{comentarios.comentario}}</p>
			 	</div>

			 	<!-- comments toolbar -->
			 	<div class="comment_toolbar">

			 		<!-- inc. date and time -->
			 		<div class="comment_details">
			 			<ul class="ul_comment">
			 				<li class="li_comment"><i class="fa fa-clock-o"></i> {{comentarios.fecha_hora}}</li>
			 				<li class="li_comment"><i class="fa fa-pencil"></i> <span class="user">{{comentarios.cliente_id.user}}</span></li>
			 			</ul>
			 		</div><div class="comment_tools">
			 			<ul>
			 				{% if comentarios.puntuacion == 0.0%}
                                <form>
                                    <p class="clasificacion">
                                        <input id="radio1" type="radio" name="estrellas" value="5" disabled><!--
                                        --><label for="radio1">★</label><!--
                                        --><input id="radio2" type="radio" name="estrellas" value="4" disabled><!--
                                        --><label for="radio2">★</label><!--
                                        --><input id="radio3" type="radio" name="estrellas" value="3" disabled><!--
                                        --><label for="radio3">★</label><!--
                                        --><input id="radio4" type="radio" name="estrellas" value="2" disabled><!--
                                        --><label for="radio4">★</label><!--
                                        --><input id="radio5" type="radio" name="estrellas" value="1" disabled><!--
                                        --><label for="radio5">★</label>
                                    </p>
                                </form>
                                {%endif%}
                                {% if comentarios.puntuacion == 1.0%}
                                <form>
                                    <p class="clasificacion">
                                        <input id="radio1" type="radio" name="estrellas" value="5" disabled><!--
                                        --><label for="radio1">★</label><!--
                                        --><input id="radio2" type="radio" name="estrellas" value="4" disabled><!--
                                        --><label for="radio2">★</label><!--
                                        --><input id="radio3" type="radio" name="estrellas" value="3" disabled><!--
                                        --><label for="radio3">★</label><!--
                                        --><input id="radio4" type="radio" name="estrellas" value="2" disabled><!--
                                        --><label for="radio4">★</label><!--
                                        --><input id="radio5" type="radio" name="estrellas" value="1"  checked disabled><!--
                                        --><label for="radio5">★</label>
                                    </p>
                                </form>
                                {%endif%}
                                {% if comentarios.puntuacion == 2.0%}
                                <form>
                                    <p class="clasificacion">
                                        <input id="radio1" type="radio" name="estrellas" value="5" disabled><!--
                                        --><label for="radio1">★</label><!--
                                        --><input id="radio2" type="radio" name="estrellas" value="4" disabled><!--
                                        --><label for="radio2">★</label><!--
                                        --><input id="radio3" type="radio" name="estrellas" value="3" disabled><!--
                                        --><label for="radio3">★</label><!--
                                        --><input id="radio4" type="radio" name="estrellas" value="2" checked disabled><!--
                                        --><label for="radio4">★</label><!--
                                        --><input id="radio5" type="radio" name="estrellas" value="1" disabled><!--
                                        --><label for="radio5">★</label>
                                    </p>
                                </form>
                                {%endif%}
                                {% if comentarios.puntuacion == 3.0%}
                                <form>
                                    <p class="clasificacion">
                                        <input id="radio1" type="radio" name="estrellas" value="5" disabled><!--
                                        --><label for="radio1">★</label><!--
                                        --><input id="radio2" type="radio" name="estrellas" value="4" disabled><!--
                                        --><label for="radio2">★</label><!--
                                        --><input id="radio3" type="radio" name="estrellas" value="3" checked disabled><!--
                                        --><label for="radio3">★</label><!--
                                        --><input id="radio4" type="radio" name="estrellas" value="2" disabled><!--
                                        --><label for="radio4">★</label><!--
                                        --><input id="radio5" type="radio" name="estrellas" value="1" disabled><!--
                                        --><label for="radio5">★</label>
                                    </p>
                                </form>
                                {%endif%}
                                {% if comentarios.puntuacion == 4.0%}
                                <form>
                                    <p class="clasificacion">
                                        <input id="radio1" type="radio" name="estrellas" value="5" disabled><!--
                                        --><label for="radio1">★</label><!--
                                        --><input id="radio2" type="radio" name="estrellas" value="4" checked disabled><!--
                                        --><label for="radio2">★</label><!--
                                        --><input id="radio3" type="radio" name="estrellas" value="3" disabled><!--
                                        --><label for="radio3">★</label><!--
                                        --><input id="radio4" type="radio" name="estrellas" value="2" disabled><!--
                                        --><label for="radio4">★</label><!--
                                        --><input id="radio5" type="radio" name="estrellas" value="1" disabled><!--
                                        --><label for="radio5">★</label>
                                    </p>
                                </form>
                                {%endif%}
                                {% if comentarios.puntuacion == 5.0%}
                                <form>
                                    <p class="clasificacion">
                                        <input id="radio1" type="radio" name="estrellas" value="5" checked disabled><!--
                                        --><label for="radio1">★</label><!--
                                        --><input id="radio2" type="radio" name="estrellas" value="4" disabled><!--
                                        --><label for="radio2">★</label><!--
                                        --><input id="radio3" type="radio" name="estrellas" value="3" disabled><!--
                                        --><label for="radio3">★</label><!--
                                        --><input id="radio4" type="radio" name="estrellas" value="2" disabled><!--
                                        --><label for="radio4">★</label><!--
                                        --><input id="radio5" type="radio" name="estrellas" value="1" disabled><!--
                                        --><label for="radio5">★</label>
                                    </p>
                                </form>
                                {%endif%}
			 			</ul>
			 		</div>

			 	</div>

			 	
		 	</ul>

		 
		</div>
        {% endfor %}

    </div>
</div>
        
{% endblock %}
