{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_list %}
{% block extrahead %}
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/series-label.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}
{% block content %}
    <h1>Graphs:</h1>
    {% regroup cl.queryset|dictsort:"fecha_compra" by get_fecha_compra_display as fecha_compra_list %}
    {% for compra in fecha_compra_list %}<p id ="list" hidden>{{ compra.list }} </p>{% endfor %}
    <hr>
    <div id = "container-line" ></div>
    <script type="application/javascript">
        var lista = document.getElementById("list").innerHTML;
        console.log(lista);
        series1 = [];
        var listaSplit = lista.split(",");
        console.log(listaSplit);
        for(var i = 0; i < listaSplit.length; i++) {
            var data = listaSplit[i].substring(listaSplit[i].indexOf("(")+4,listaSplit[i].indexOf("(")+12);
            if(data.endsWith("b")){
                data = data.split(" ")[0];
            }
            var año = data.split("/")[0];
            console.log(año);
            var mes = parseInt(data.split("/")[1]);
            console.log(mes);
            if(series1.length == 0){
                series1.push(
                    {
                        name:año,
                        data:[0,0,0,0,0,0,0,0,0,0,0,0]
                    }
                );
                series1[0].data[mes-1] += 1;
            }else{
                var bool = false;
                for(var j = 0; j < series1.length; j++) {
                    if(series1[j].name == año) {
                        series1[j].data[mes-1] += 1;
                        bool = true;
                    }
                }
                if(!bool){
                    series1.push(
                        {
                            name:año,
                            data:[0,0,0,0,0,0,0,0,0,0,0,0]
                        }
                    );
                    series1[series1.length-1].data[mes-1] += 1;
                }
            }
        }
        console.log(series1);
        var graphline = Highcharts.chart('container-line', {
        title: {
            text: 'Crecimiento de ventas mensual'
        },
        xAxis: {
            categories: [
                    'Enero',
                    'Febrero',
                    'Marzo',
                    'Abril',
                    'Mayo',
                    'Junio',
                    'Julio',
                    'Agosto',
                    'Septiembre',
                    'Octubre',
                    'Noviembre',
                    'Diciembre'
                ],
                crosshair: true
        },
        yAxis: {
            title: {
                text: 'Cantidad de ventas'
            },
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle'
        },

        tooltip: {
            pointFormat: ' Cantidad de ventas mensuales <b>{point.y:,.0f}</b><br/> '
        },
        series: series1,
        responsive: {
            rules: [{
                condition: {
                    maxWidth: 500
                },
                chartOptions: {
                    legend: {
                        layout: 'horizontal',
                        align: 'center',
                        verticalAlign: 'bottom'
                    }
                }
            }]
        }
    });
    </script>
    <hr>
    {{ block.super }}
{% endblock %}