{% extends "base.html" %}

{% load static %}
{% block head_content %}
    <title>Carrito</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/Carrito.css' %}">
{% endblock %}

{% block content %}
<div class="contenedor-main">
    <div class="carrito">
        <div class="items">
            {% for item in libros %}
            <div class="item">
                <img src="/media/{{ item.portada }}">
                <div class="informacion-Libro">
                    <h2 class="titulo">{{item.titulo}}</h2>
                    <a href="#" class="autor">Menno schilthuizen</a>
                    <div class="costo">
                        <div class="especificacion">
                            <p class="vUnitario">Valor Unitario</p>
                            <p class="precio-producto">{{item.precio}}</p>
                        </div>
                        <div class="especificacion">
                            <p class="vTotal">Valor Total</p>
                            <p class="precio-producto-total">{{precioT}}</p>
                        </div>
                    </div>
                    <div class="agregarCantidad">
                        <div class="num-in">
                            <a herf="#" class="btnAD"><i class="fas fa-minus"></i></a>
                            <span type="text" class="in-num" value="1" min="1">1</span>
                            <a herf="#" class="btnAD"><i class="fas fa-plus"></i></a>
                        </div>
                    </div>
                    <form action="" class="">
                    <div class="btn">
                        <a href="{%url 'compras:eliminarCarrito' titulo=item.titulo%}" class="btnEliminarLib">
                            Eliminar
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </div>
                    </form>
                </div>
            </div>
            {%endfor%}
        </div>
    </div>
    <div class = "infoCompra">
        <div class="DetallesTitulo">
            <h2 class="tituloInfo">Tú carrito</h2>
            <hr/>
        </div>
        <div class="DetallesCarrito">
            <p>
                <span class="Enunciado">Productos</span>
                <span>{{precioT}}</span>
            </p>
            <p>
                <span class="Enunciado">Número de libros</span>
                <span>{{cantidadLibros}}</span>
            </p>
            <p>
                <span class="Enunciado">Envio</span>
                <span>$8.500</span>
            </p>    
            <p>
                <span class="Enunciado">Total</span>
                <span>{{precioEnvio}}</span>
            </p>
        </div>
        <div class="btnComprar">
            <a href="{% url 'compras:compra' %}" class="irACompra">Proceder con la compra</a>
        </div>
    </div>
</div>
{% endblock %}
