{% load static %}
<!--Navbar-->
<div class="navbar">
    <a href="{% url 'novedades:home' %}" class="logo">
        <div class="imagen-logo">
            <img src="{% static 'img/Logo Acentos Web.png' %}" class="img">
        </div>
    </a>
    <ul class="nav">
        <li><a href="{% url 'novedades:home' %}" class="hiperMenu">Inicio</a></li>
        <li><a href="{% url 'busquedas:resultados' %}" class="hiperMenu">Libros</a></li>
        <li><a href="#" class="hiperMenu">Solicitudes</a></li>
        <li><a href="#" class="hiperMenu">Bonos</a></li>
    </ul>
        <form action="{% url 'busquedas:resultados' %}" method="POST" class="busquedad-componentes">
            {% csrf_token %}
            <div class="barra-busqueda">
                <a href="#" class="d"><i class="fas fa-search" id="logo-busquedad"></i></a>
                <input type="text" class="input-busquedad" placeholder="busquedad" name="searched">
            </div>
            <select class="opciones" name="searchType">
                <option value="Libros">Libros</option>
                <option value="Autor">Autor</option>
                <option value="Editorial">Editorial</option>
            </select>
        </form>
    <ul class="nav">
        <li>
            <a href="{% url 'clientes:login' %}" class="hiperMenu"><i class="fas fa-user"></i>{{ request.user.username }}</a>
        </li>
        <li class="carrito">
            <a href="{% url 'compras:carrito' %}" id="cart" class="hiperMenu">
                <i class="fa fa-shopping-cart"></i>
                 <span class="badge">3</span>
            </a>
        </li>
    </ul>
</div>
<!--/.Navbar-->