*{
    margin:0px;
    padding:0px;
}

.contenedor-main{
    margin: 0 auto;
    width: 100%;
    display:flex;
}

.producto{
    display: flex;
    position: relative;
    display: inline-block;
    flex-direction: row;
    flex-wrap: wrap;
    width: 65%;
    height: 100%;
    flex:0.75;
    margin-left: 45px;
}

.item{
    display: flex;
    width: 100%;
    overflow: hidden;
    margin-bottom: 10px;
    background-color: rgb(245,245,245,.5);
}

.item > img{
    background-color: rgb(0,0,0,.15);
    padding: 20px;
    height: 320px;
    width: 251px;
}

.informacion-Libro{
    padding-left:20px;
    width: 100%;
    position: relative;
}

.titulo{
    margin-bottom: 20px;
    font-family: Muli,sans-serif;
    font-size: 35px;
    font-weight: 800px;
}

.autor{
    font-family: Muli,sans-serif;
    font-size: 20px;
    color:#000;
    margin-bottom: 20px;
    text-decoration: none;
}

.autor:hover{
    color:red;
}

.costo{
    text-align: center;
    font-family: Muli,sans-serif;
    font-size: 20px;
    float: right;
    display:flex;
}

.vUnitario{
    font-size: 15px;
    color:#929aad;
}

.btnAnadirLibro{
    padding: 10px 10px;
    background-color: #2378e0;
    color:white;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
}

.btn{
    margin-top:30px;
}

.sinopsis{
    font-family: Muli,sans-serif;
    font-size: 20px;
    flex:1;
    margin-left: 70px;
    padding:20px;
    height: 340px;
    background-color: rgb(245,245,245,.5);
    width: 35%;
}

label{ 
    color:grey;
}

input[type = "radio"]{ 
    display:none;
}

.clasificacion{
    direction: rtl;/* right to left */
    unicode-bidi: bidi-override;/* bidi de bidireccional */
    text-align: left;
}

input[type = "radio"]:checked ~ label{
    color:orange;
}

#form {
    width: 250px;
    margin: 0 auto;
    height: 50px;
    
}

