{% extends "base.html" %}

{% load static %}
{% block head_content %}
    <title>Resultado</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/resultados.css' %}">
{% endblock %}

{% block content %}
<div class="busquedad">
    <div class="filtros">

    </div>
    {% if searched %}
    <div class ="contenedor-carrousel">
        <h1>Resultados para: {{ searched }}</h1>
        <div class="ordenar">
            
        </div>
        <div class ="cards">
            {% for resultado in resultados %}
                <div class="card">
                    <div class="card-overlay">
                        <div class="linksBTN">
                            <div class="heading"><a class="button" href="{% url 'libros:detalles' titulo=resultado.url_libro %}">Ver detalles</a></div>
                            <div class="heading"><a class="button" href="Quiensabecomosehace">Agregar al carrito</a></div>
                        </div>
                    </div>
                    <div class="card_content">
                        <div class="card_title">{{ resultado.titulo }}</div>
                        <div class="card_autores">{{resultado.editorial}}</div>
                        <div class="card_precio"> {{resultado.precio}} COP</div>
                    </div>
                    <img class="card-poster" alt="" src="{{ resultado.portada.url }}">
                </div>
            {% endfor %}
        </div>
    </div>
    {% else %} 
        <center>
            <h1>Upss... olvidaste ingresar una busqueda</h1>
        </center>
    {% endif %}
</div>
{% endblock %}
