{% extends "base.html" %}

{% load static %}
{% block head_content %}
    <title>Resultado</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/resultados.css' %}">
{% endblock %}

{% block content %}
<div class="busquedad">
    <div class="filtros">

    </div>
    {% if searched %}
    <div class ="contenedor-carrousel">
        <h1>Resultados para: {{ searched }}</h1>
        <div class="ordenar">
            
        </div>
        <div class ="cards">
            {% for resultado in resultados %}
                <div class="card">
                    <div class="card_image_container">
                        <div class="linksBTN">
                            <a class="button" href="{% url 'libros:detalles' titulo=resultado.url_libro %}">Ver detalles</a>
                            <br>
                            <br>
                            <br>
                            <a class="button" href="{% url 'compras:carrito' %}">Agregar al carrito</a>
                        </div>
                        <img src="{{ resultado.portada.url }}">
                    </div>
                    <div class="card_content">
                        <h2 class="card_title">{{ resultado.titulo }}</h2>
                        <div class="card_info">
                            <h4 class="autores">{{resultado.editorial}}</h4>
                            <h3 class="precio"> {{resultado.precio}} COP</h3>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% else %} 
        {% for resultado in resultados %}
                <div class="card">
                    <div class="card_image_container">
                        <div class="linksBTN">
                            <a class="button" href="{% url 'libros:detalles' titulo=resultado.url_libro %}">Ver detalles</a>
                            <br>
                            <br>
                            <br>
                            <a class="button" href="{% url 'compras:carrito' %}">Agregar al carrito</a>
                        </div>
                        <img src="{{ resultado.portada.url }}">
                    </div>
                    <div class="card_content">
                        <h2 class="card_title">{{ resultado.titulo }}</h2>
                        <div class="card_info">
                            <h4 class="autores">{{resultado.editorial}}</h4>
                            <h3 class="precio"> {{resultado.precio}} COP</h3>
                        </div>
                    </div>
                </div>
            {% endfor %}
    {% endif %}
</div>
{% endblock %}
