<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="Menu">
        <img src="Direccion" id="logo"/>
        <div class="nav">
            <a href="#">Inicio</a>
            <a href="#">Libros</a>
            <a href="#">Solicitudes</a>
            <a href="#">Bonos</a>
            <div class="campo_busquedad">
                <select class="comboBox" name="comboBox">
                    <option value="Libros">Libros</option>
                    <option value="Autor">Autor</option>
                    <option value="Editorial">Editorial</option>
                </select>
                <input type="text" placeholder="Buscar" name="busqueda" class="busqueda">
            </div>
            <div class="boton_acceder_cuenta">
                <img src="Direccion" id="cuenta"/>
                <a href="#">Usuario</a>
            </div>
            <div class="carrito">
                <div class="numCarrito">
                    <p>1</p>
                </div>
                <img src="Direccion" id="carrito"/>
            </div>
        </div>
  </div>
</body>
</html>