{% extends "base.html" %}
{% load static %}

{% block head_content %}
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/resultados.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">

{% endblock %}

{% block content %}

    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            {% for object in carousel%}
            <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}"  data-bs-interval="20000">
                <img src="{{ object.imagen.url }}" style="height:auto; width:100%;" class="testi-overly d-block w-100" alt="sliderImg">
                <div class="carousel-caption d-none d-md-block">
                    <h2 class="titulo">{{object.nombre}}</h2>
                    <h3 class="animate__animated animate__zoomIn">Desde {{object.fecha_inicio}}</h3>
                    <h3 class="animate__animated animate__zoomIn">Hasta {{object.fecha_fin}}</h3>
                    <h6>{{object.descripcion}}</h6>
                    <a href="#" class="btn btn-primary">Ver Más</a>
                </div>
            </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>

<div class="busquedad">


    <div class ="contenedor-carrousel">
        <h1>Nuevos Lanzamientos</h1>
        <div class ="cards">
            {% for n in nuevos %}
                <div class="card">
                    <div class="card-overlay">

                        <div class="linksBTN">

                            <div class="heading"><a class="button" href="{% url 'libros:detalles' titulo=n.url_libro%}">Ver detalles</a></div>
                            
                            <div class="heading"><a class="button" href="{% url 'compras:carrito' %}">Agregar al carrito</a></div>
                        </div>

                    </div>

                    <div class="card_content">

                        <div class="card_title">{{ n.titulo }}</div>

                        <div class="card_autores">{{ n.editorial }}</div>
                        {% if n.autor_set %}
                        <div class="card_autores">{{ n.autor_set.first.nombre }}</div>
                        {% endif %}
                        <div class="card_precio"> {{ n.precio }} COP</div>

                    </div>

                    <img class="card-poster" alt="" src="{{ n.portada.url }}">

                </div>

            {% endfor %}

        </div>

        <h1></br>Proximamente</h1>

        <div class ="cards">

            {% for p in preventa %}

                <div class="card">

                    <div class="card-overlay">

                        <div class="linksBTN">

                            <div class="heading"><a class="button" href="{% url 'libros:detalles' titulo=p.url_libro%}">Ver detalles</a></div>

                            <div class="heading"><a class="button" href="{% url 'compras:carrito' %}">Preventa</a></div>

                        </div>

                    </div>

                    <div class="card_content">

                        <div class="card_title">{{ p.titulo }}</div>

                        <div class="card_autores">{{ p.editorial }}</div>

                        {% if p.autor_set %}
                        <div class="card_autores">{{ p.autor_set.first.nombre }}</div>
                        {% endif %}

                        <div class="card_precio"> {{ p.precio }} COP</div>

                    </div>

                    <img class="card-poster" alt="" src="{{ p.portada.url }}">

                </div>

            {% endfor %}

        </div>

    </div>

</div>

{% endblock %}