{% extends "base.html" %}
{% load static %}

{% block head_content %}

    <title>Home</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/resultados.css' %}">

{% endblock %}



{% block content %}

<div class="busquedad">

    <div class="filtros">



    </div>

    <div class ="contenedor-carrousel">

        <h1>Nuevos Lanzamientos</h1>



        <div class ="cards">

            {% for n in nuevos %}

                <div class="card">

                    <div class="card-overlay">

                        <div class="linksBTN">

                            <div class="heading"><a class="button" href="{% url 'libros:detalles' titulo=n.url_libro%}">Ver detalles</a></div>

                            <div class="heading"><a class="button" href="{% url 'compras:carrito' %}">Agregar al carrito</a></div>

                        </div>

                    </div>

                    <div class="card_content">

                        <div class="card_title">{{ n.titulo }}</div>

                        <div class="card_autores">{{ n.editorial }}</div>

                        <div class="card_precio"> {{ n.precio }} COP</div>

                    </div>

                    <img class="card-poster" alt="" src="{{ n.portada.url }}">

                </div>

            {% endfor %}

        </div>



        <h1></br>Proximamente</h1>

        <div class ="cards">

            {% for p in preventa %}

                <div class="card">

                    <div class="card-overlay">

                        <div class="linksBTN">

                            <div class="heading"><a class="button" href="{% url 'libros:detalles' titulo=p.url_libro%}">Ver detalles</a></div>

                            <div class="heading"><a class="button" href="{% url 'compras:carrito' %}">Preventa</a></div>

                        </div>

                    </div>

                    <div class="card_content">

                        <div class="card_title">{{ p.titulo }}</div>

                        <div class="card_autores">{{ p.editorial }}</div>

                        <div class="card_precio"> {{ p.precio }} COP</div>

                    </div>

                    <img class="card-poster" alt="" src="{{ p.portada.url }}">

                </div>

            {% endfor %}

        </div>

    </div>

</div>

{% endblock %}