{% extends "usuarios/base.html" %}

{% load static %}
{% block head_content %}
    <title>Login</title>
{% endblock %}

{% block content %}
    <form action="{% url 'clientes:login' %}" method="POST">
        {% csrf_token %}

        <input class="" type="text" placeholder="Username" name="username" />
        <input class="" type="password" placeholder="Password" name="password">

        <button class="" type="submit">Ingresar</button>

    </form>

    <p class="">No tienes una cuenta? <a href="{% url 'clientes:signup' %}">Registrate aquí.</a></p>
{% endblock %}