{% extends "usuarios/base.html" %}

{% load static %}
{% block head_content %}
    <title>Signup</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login_signup.css' %}">
{% endblock %}

{% block content %}
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <form class="login100-form validate-form" action="{% url 'clientes:login' %}" method="POST">
                    {% csrf_token %}
                    <span class="login100-form-title p-b-26">
                        Registrate
                    </span>
                    <div class="wrap-input100 validate-input">
                        <input class="input100" type="text" name="username" required>
                        <span class="focus-input100"></span>
                        <label class="holder">Nombre de usuario</label>
                    </div>
                    <div class="wrap-input100 validate-input">
                        <input class="input100" type="email" name="email" required>
                        <span class="focus-input100"></span>
                        <label class="holder">Ingrese un email</label>
                    </div>
                    <div class="wrap-input100 validate-input">
                        <input class="input100" type="password" name="password" required>
                        <span class="focus-input100"></span>
                        <label class="holder">Ingrese su contraseña</label>
                    </div>
                    <div class="wrap-input100 validate-input">
                        <input class="input100" type="password" name="password_confirmation" required>
                        <span class="focus-input100"></span>
                        <label class="holder">Vuelva a ingresar su contraseña</label>
                    </div>
                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button class="login100-form-btn" type="submit">
                                Registrarse
                            </button>
                        </div>
                    </div>
                    <div class="txt_center">
                        <span class="txt1">
                            Ya tienes cuenta?
                        </span>

                        <a href="{% url 'clientes:login' %}">Logueate aquí.</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}